<div class="container">
  <div class="sidebar">
    <h3>Categories</h3>
    <ul>
      <li *ngFor="let category of categories">
        <button class="btn-category" (click)="fetchProductsByCategory(category.categoryId)">
          {{ category.categoryName }}
        </button>
        <button *ngIf="authService.isAdmin()" class="btn-edit" (click)="openEditCategoryDialog(category)">Edit</button>
        <button *ngIf="authService.isAdmin()" class="btn-delete" (click)="openDeleteCategoryDialog(category)">Delete</button>
      </li>
    </ul>
    <button *ngIf="authService.isAdmin()" class="btn-add" (click)="openAddCategoryDialog()">Add New Category</button>
  </div>

  <div class="content">
    <button *ngIf="authService.isAdmin()" class="btn-add btn-add-product" (click)="openAddProductDialog()">Add New Product</button>

    <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="search-form">
      <div>
        <label for="productName">Product Name</label>
        <input id="productName" formControlName="productName" placeholder="Search products...">
      </div>
      <button type="submit" class="btn-search">Search</button>
    </form>

    <div class="sort-buttons">
      <button class="btn-sort" (click)="sortProductsByPrice('asc')">Sort by Price (Ascending)</button>
      <button class="btn-sort" (click)="sortProductsByPrice('desc')">Sort by Price (Descending)</button>
    </div>

    <div class="product-grid">
      <div *ngFor="let product of paginatedProducts" class="product">
        <h3>{{ product.name }}</h3>
        <img *ngIf="product.image" [src]="getImageUrl(product.image)" alt="{{ product.name }}" class="product-image">
        <p>Price: {{ product.price }}</p>
        <p *ngIf="authService.isAdmin()">Quantity: {{ product.quantity }}</p>
        <a [routerLink]="['/products', product.id]" class="btn-details">View Details</a>
        <button class="btn-cart" (click)="addToCart(product)" [disabled]="!canAddToCart(product)">Add to Cart</button>
        <button *ngIf="authService.isAdmin()" class="btn-delete" (click)="deleteProduct(product.id)">Delete</button>
        <button *ngIf="authService.isAdmin()" class="btn-edit" [routerLink]="['/edit-product', product.id]">Edit</button>
      </div>
    </div>

    <div class="pagination">
      <button *ngFor="let pageNumber of getPageNumbers()" (click)="onPageChange(pageNumber)" [class.active]="pageNumber === currentPage">
        {{ pageNumber }}
      </button>
    </div>

    <div class="page-size-control">
      <label for="pageSize" class="page-size-label">Products per page:</label>
      <select id="pageSize" [(ngModel)]="pageSize" (change)="onPageSizeChange()" class="page-size-select">
        <option value="5">5</option>
        <option value="10">10</option>
      </select>
    </div>
  </div>
</div>
