<div *ngFor="let transaction of transactions" class="transaction">
  <h3>Transaction ID: {{ transaction.id }}</h3>
  <p>Customer Email: {{ transaction.customerEmail }}</p>
  <p>Currency: {{ transaction.currency }}</p>
  <p>Total Amount: {{ transaction.amount | currency:transaction.currency }}</p>
  <div *ngIf="transaction.items && transaction.items.length > 0">
    <h4>Items:</h4>
    <ul>
      <li *ngFor="let item of transaction.items">
        <p>Product ID: {{ item.productId }}</p>
        <p>Quantity: {{ item.quantity }}</p>
      </li>
    </ul>
  </div>
</div>
