<div class="dialog-container">
  <button mat-icon-button class="close-button" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>

  <ng-container *ngIf="isLoggedIn; else loginRegisterForms">
    <h2>Welcome, {{ username }}!</h2>
    <button mat-raised-button color="primary" (click)="logout()">Logout</button>
  </ng-container>

  <ng-template #loginRegisterForms>
    <h2 *ngIf="isLoginMode">Login</h2>
    <h2 *ngIf="!isLoginMode">Register</h2>

    <form *ngIf="isLoginMode" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
      <div>
        <label for="username">Username:</label>
        <input id="username" formControlName="username" />
        <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
          Username is required
        </div>
      </div>
      <div>
        <label for="password">Password:</label>
        <input id="password" type="password" formControlName="password" />
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          Password is required
        </div>
      </div>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>

    <form *ngIf="!isLoginMode" [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
      <div>
        <label for="name">First Name:</label>
        <input id="name" formControlName="name" />
        <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched">
          Name is required
        </div>
      </div>
      <div>
        <label for="surname">Last Name:</label>
        <input id="surname" formControlName="surname" />
        <div *ngIf="registerForm.get('surname')?.invalid && registerForm.get('surname')?.touched">
          Surname is required
        </div>
      </div>
      <div>
        <label for="email">Email:</label>
        <input id="email" formControlName="email" />
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
          Valid email is required
        </div>
      </div>
      <div>
        <label for="username">Username:</label>
        <input id="username" formControlName="username" />
        <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
          Username is required
        </div>
      </div>
      <div>
        <label for="password">Password:</label>
        <input id="password" type="password" formControlName="password" />
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
          Password is required (min 6 characters)
        </div>
      </div>
      <div>
        <label for="phone">Phone:</label>
        <input id="phone" formControlName="phone" />
        <div *ngIf="registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched">
          Phone number is required
        </div>
      </div>
      <div formGroupName="address">
        <div>
          <label for="street">Street:</label>
          <input id="street" formControlName="street" />
          <div *ngIf="registerForm.get('address.street')?.invalid && registerForm.get('address.street')?.touched">
            Street is required
          </div>
        </div>
        <div>
          <label for="city">City:</label>
          <input id="city" formControlName="city" />
          <div *ngIf="registerForm.get('address.city')?.invalid && registerForm.get('address.city')?.touched">
            City is required
          </div>
        </div>
        <div>
          <label for="country">Country:</label>
          <input id="country" formControlName="country" />
          <div *ngIf="registerForm.get('address.country')?.invalid && registerForm.get('address.country')?.touched">
            Country is required
          </div>
        </div>
        <div>
          <label for="zip">ZIP Code:</label>
          <input id="zip" formControlName="zip" />
          <div *ngIf="registerForm.get('address.zip')?.invalid && registerForm.get('address.zip')?.touched">
            ZIP code is required
          </div>
        </div>
      </div>
      <button mat-raised-button color="primary" type="submit">Register</button>
    </form>

    <button mat-button (click)="switchMode()">
      Switch to {{ isLoginMode ? 'Register' : 'Login' }}
    </button>
  </ng-template>
</div>





